# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# Environment
.env

# IDEs and editors
.vscode/
.idea/
*.code-workspace

# Logs
*.log

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Package files
*.egg

# Other
.DS_Store

